

@import "bootstrap-variables";
@import "bootstrap";


// FONT-AWESOME FOR ICONS..
@import url("font-awesome.min.css");


// FONTS..
@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400");

// A COLLECTION OF MY FREQUENTLY USED MIXINS..
@import "mixins-bdh";

// A METHOD OF MANAGING MEDIA QUERIES.. HOOKED INTO BOOTSTRAPS BREAKPOINTS..
@import "fs-screens";

// BASE STYLES FOR PROJECT..
@import "fs-base";

// TOP NAV BAR STYLES..
@import "fs-topbar";

 
@import "../eyeball/eyeball.css";

// THIS IS AN INTERACTIVE EYEBALL ADDED JUST FOR FUN. 
#EYEBALL {
  position:absolute; bottom:-30px; right:10%;
  // position:relative; width: 100px; margin:auto;
}